<div class="activity-row-normal activity-row-first">
    {{acti.name}}
</div>
<div class="activity-row-normal activity-row-second">
    {{acti.date}}
</div>
<div class="activity-row-normal activity-row-third">
    {{acti.people}}
</div>
<div class="activity-row-normal activity-row-forth">
    {{acti.class}}
</div>
<div class="activity-row-normal activity-row-fifth">
    {{acti.note}}
</div>