<div class="person-table-row-normal person-table-row-first">
    {{person.name}}
</div>
<div class="person-table-row-normal person-table-row-second">
    {{person.gender}}
</div>
<div class="person-table-row-normal person-table-row-third">
    {{person.age}}
</div>
<div class="person-table-row-normal person-table-row-forth">
    {{person.data}}
</div>
<div class="person-table-row-normal person-table-row-fifth">
    {{person.grade}}
</div>
<div class="person-table-row-normal person-table-row-sixth">
    {{person.major}}
</div>